@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content {
  background-color: red;
  height: 400px;
  width: 400px;
}

.attribution {
  position: absolute;
  bottom: 20px;
  font-size: 20px;
  color: white;
}